@import "tailwindcss";


*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #0e7490; /* ou a cor azul que você está usando */
  z-index: -1000;
  min-height: 100vh;
  color: white;
}
